.grey .accordion{font: bold 12px Arial, sans-serif; border-top: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc;}
.grey .accordion, .grey .accordion li {margin: 0; padding: 0; border: none;}
.grey .accordion li a {padding: 10px 10px 10px 50px; background: white; text-decoration:none; display: block; color: #333; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; position: relative; text-shadow: none;}
.grey .accordion ul{
    padding: 0px;
}
.grey .accordion .menu a {padding: 5px 5px 5px 50px; background: black; text-decoration:none; display: block; color: #333; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; position: relative; color: white; text-shadow: none;}
.grey .accordion .menu .menuitem a { font: bold 11px Arial, sans-serif; padding: 5px; background: white; text-decoration:none; display: block; color: black; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; position: relative; text-shadow: none;}
.grey .accordion a.dcjq-parent:hover {background: black repeat-x 0 -1px;}
.grey .accordion a.dcjq-parent {color: white;}
.grey .accordion a.dcjq-parent.active {color: white;}
.grey .accordion a .dcjq-icon {position: absolute; top: 50%; left: 14px; width: 34px; margin-top: -17px; height: 34px; background: url(images/arrow1.png) no-repeat 0 center;}
.grey .accordion a.dcjq-parent.active .dcjq-icon {background: url(images/arrow.png) no-repeat 0 center;}
.grey .accordion a:hover {background: white; color: white;}
.grey .accordion a:active{}