<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>username to connect to database</description>
        <param-name>db_user</param-name>
        <param-value>evitaran</param-value>
    </context-param>
    <context-param>
        <description>password to connect to database</description>
        <param-name>db_password</param-name>
        <param-value>evitaran</param-value>
    </context-param>
    <context-param>
        <description>database name</description>
        <param-name>db_name</param-name>
        <param-value>evitaran</param-value>
    </context-param>
    <context-param>
        <description>database server name</description>
        <param-name>db_host</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <description>The database driver used</description>
        <param-name>db_driver</param-name>
        <param-value>jdbc:mysql</param-value>
    </context-param>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>IAS.Class.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/jsp/home.jsp</url-pattern>
        <url-pattern>/main</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>IAS.Class.Database</listener-class>
    </listener>
    <listener>
        <listener-class>IAS.Class.JDSServletContext</listener-class>
    </listener>
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>IAS.Controller.main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inward</servlet-name>
        <servlet-class>IAS.Controller.Inward.inward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subscriber</servlet-name>
        <servlet-class>IAS.Controller.subscriber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ml</servlet-name>
        <servlet-class>IAS.Controller.ml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subscription</servlet-name>
        <servlet-class>IAS.Controller.subscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>missingissue</servlet-name>
        <servlet-class>IAS.Controller.missingissue.missingissue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>journal</servlet-name>
        <servlet-class>IAS.Controller.masterdata.journal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>IAS.Controller.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agent</servlet-name>
        <servlet-class>IAS.Controller.masterdata.agent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subType</servlet-name>
        <servlet-class>IAS.Controller.masterdata.subType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MasterData</servlet-name>
        <servlet-class>IAS.Model.MasterData</servlet-class>
        <run-as>
            <role-name>user</role-name>
        </run-as>
    </servlet>
    <servlet>
        <servlet-name>CMasterData</servlet-name>
        <servlet-class>IAS.Controller.CMasterData</servlet-class>
        <run-as>
            <role-name>user</role-name>
        </run-as>
    </servlet>
    <servlet>
        <servlet-name>inwardModel</servlet-name>
        <servlet-class>IAS.Model.Inward.inwardModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorHandler</servlet-name>
        <servlet-class>IAS.Controller.errorHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xmlserver</servlet-name>
        <servlet-class>IAS.Servlet.xmlserver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>city</servlet-name>
        <servlet-class>IAS.Controller.masterdata.city</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>country</servlet-name>
        <servlet-class>IAS.Controller.masterdata.country</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>district</servlet-name>
        <servlet-class>IAS.Controller.masterdata.district</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>state</servlet-name>
        <servlet-class>IAS.Controller.masterdata.state</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMasterData</servlet-name>
        <servlet-class>IAS.Controller.addMasterData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inwardGateKeeper</servlet-name>
        <servlet-class>IAS.Controller.inwardGateKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Subscription</servlet-name>
        <servlet-class>IAS.Model.Subscription.Subscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Invoice</servlet-name>
        <servlet-class>IAS.Controller.Invoice.Invoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDSLog4JInitServlet</servlet-name>
        <servlet-class>IAS.Class.JDSLog4JInitServlet</servlet-class>
        <init-param>
            <param-name>log4j-properties-location</param-name>
            <param-value>WEB-INF/classes/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>printOrder</servlet-name>
        <servlet-class>IAS.Controller.masterdata.printOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>priceGroup</servlet-name>
        <servlet-class>IAS.Controller.masterdata.priceGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subGroup</servlet-name>
        <servlet-class>IAS.Controller.masterdata.subGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reports</servlet-name>
        <servlet-class>IAS.Controller.reports.reports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>journalSubjectGroup</servlet-name>
        <servlet-class>IAS.Controller.masterdata.journalSubjectGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>annualSubscriptionRate</servlet-name>
        <servlet-class>IAS.Controller.masterdata.annualSubscriptionRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generateml</servlet-name>
        <servlet-class>IAS.Controller.MailingList.generateml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generatebil</servlet-name>
        <servlet-class>IAS.Controller.MailingList.generatebil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdfserver</servlet-name>
        <servlet-class>IAS.Servlet.pdfserver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reminders</servlet-name>
        <servlet-class>IAS.Controller.reminders.reminders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Email</servlet-name>
        <servlet-class>IAS.Controller.Email.Email</servlet-class>
        <run-as>
            <role-name>user</role-name>
        </run-as>
    </servlet>
    <servlet>
        <servlet-name>Print</servlet-name>
        <servlet-class>IAS.Controller.Print.Print</servlet-class>
        <run-as>
            <role-name>user</role-name>
        </run-as>
    </servlet>
    <servlet>
        <servlet-name>fileupload</servlet-name>
        <servlet-class>IAS.Controller.fileupload.fileupload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usermgr</servlet-name>
        <servlet-class>IAS.Controller.UserMgr.ResetPwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePwd</servlet-name>
        <servlet-class>IAS.Controller.UserMgr.ChangePwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cities</servlet-name>
        <servlet-class>IAS.Controller.masterdata.cities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>districts</servlet-name>
        <servlet-class>IAS.Controller.masterdata.districts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>templates</servlet-name>
        <servlet-class>IAS.Controller.templates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>IAS.Controller.payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>journalDetails</servlet-name>
        <servlet-class>IAS.Controller.masterdata.journalDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartController</servlet-name>
        <servlet-class>IAS.Controller.StartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inward</servlet-name>
        <url-pattern>/inward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subscriber</servlet-name>
        <url-pattern>/subscriber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ml</servlet-name>
        <url-pattern>/ml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subscription</servlet-name>
        <url-pattern>/subscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>journal</servlet-name>
        <url-pattern>/journal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subType</servlet-name>
        <url-pattern>/subType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MasterData</servlet-name>
        <url-pattern>/MasterData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMasterData</servlet-name>
        <url-pattern>/CMasterData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inwardModel</servlet-name>
        <url-pattern>/inwardModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorHandler</servlet-name>
        <url-pattern>/errorHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xmlserver</servlet-name>
        <url-pattern>/xmlserver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>city</servlet-name>
        <url-pattern>/city</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>country</servlet-name>
        <url-pattern>/country</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>district</servlet-name>
        <url-pattern>/district</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>state</servlet-name>
        <url-pattern>/state</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMasterData</servlet-name>
        <url-pattern>/addMasterData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inwardGateKeeper</servlet-name>
        <url-pattern>/inwardGateKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subscription</servlet-name>
        <url-pattern>/Subscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Invoice</servlet-name>
        <url-pattern>/Invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDSLog4JInitServlet</servlet-name>
        <url-pattern>/JDSLog4JInitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agent</servlet-name>
        <url-pattern>/agent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>printOrder</servlet-name>
        <url-pattern>/printOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>priceGroup</servlet-name>
        <url-pattern>/priceGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subGroup</servlet-name>
        <url-pattern>/subGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reports</servlet-name>
        <url-pattern>/reports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>journalSubjectGroup</servlet-name>
        <url-pattern>/journalSubjectGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>annualSubscriptionRate</servlet-name>
        <url-pattern>/annualSubscriptionRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generateml</servlet-name>
        <url-pattern>/generateml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generatebil</servlet-name>
        <url-pattern>/generatebil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdfserver</servlet-name>
        <url-pattern>/pdfserver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reminders</servlet-name>
        <url-pattern>/reminders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>missingissue</servlet-name>
        <url-pattern>/missingissue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Print</servlet-name>
        <url-pattern>/print/*</url-pattern>
        <url-pattern>/Print/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Email</servlet-name>
        <url-pattern>/Email/*</url-pattern>
        <url-pattern>/email/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileupload</servlet-name>
        <url-pattern>/fileupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usermgr</servlet-name>
        <url-pattern>/usermgr/resetpwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePwd</servlet-name>
        <url-pattern>/usermgr/changepwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cities</servlet-name>
        <url-pattern>/cities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>districts</servlet-name>
        <url-pattern>/districts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>templates</servlet-name>
        <url-pattern>/templates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>journalDetails</servlet-name>
        <url-pattern>/journalDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartController</servlet-name>
        <url-pattern>/main2/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- error-code related error pages -->
    <welcome-file-list>
        <welcome-file>jsp/home.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>403</error-code>
        <location>/jsp/errors/403.jsp</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/errorHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/errorHandler</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/errors/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/errors/404.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>Authentication</display-name>
        <web-resource-collection>
            <web-resource-name>secure pages</web-resource-name>
            <description/>
            <url-pattern>/jsp/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>servlets</web-resource-name>
            <description/>
            <url-pattern>/main</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>user</role-name>
            <role-name>admin</role-name>
            <role-name>readonly</role-name>
            <role-name>monochrome</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>MasterDataAccess</display-name>
        <web-resource-collection>
            <web-resource-name>MasterData</web-resource-name>
            <description/>
            <url-pattern>/addMasterData</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/jsp/login/login.jsp</form-login-page>
            <form-error-page>/jsp/login/loginerror.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Only 'user' role is allowed to access this web application</description>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description>for black and white view</description>
        <role-name>monochrome</role-name>
    </security-role>
    <security-role>
        <description>For readonly view</description>
        <role-name>readonly</role-name>
    </security-role>
    <resource-ref>
        <description>Resource reference to a factory for java.sql.Connection
    instances that may be used for talking to a particular
    database that is configured in the &lt;Context&gt;
    configurartion for the web application</description>
        <res-ref-name>jdbc/jds</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
