<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>IAS.Controller.main</servlet-class>
        <run-as>
            <role-name>user</role-name>
        </run-as>
    </servlet>
    <servlet>
        <servlet-name>inward</servlet-name>
        <servlet-class>IAS.Controller.inward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subscriber</servlet-name>
        <servlet-class>IAS.Controller.subscriber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ml</servlet-name>
        <servlet-class>IAS.Controller.ml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subscription</servlet-name>
        <servlet-class>IAS.Controller.subscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>missingissue</servlet-name>
        <servlet-class>IAS.Controller.missingissue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reminders</servlet-name>
        <servlet-class>IAS.Controller.reminders</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>journal</servlet-name>
        <servlet-class>IAS.Controller.journal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agent</servlet-name>
        <servlet-class>IAS.Controller.agent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorHandler</servlet-name>
        <servlet-class>IAS.Servlet.errorHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inward</servlet-name>
        <url-pattern>/inward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subscriber</servlet-name>
        <url-pattern>/subscriber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ml</servlet-name>
        <url-pattern>/ml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subscription</servlet-name>
        <url-pattern>/subscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reminders</servlet-name>
        <url-pattern>/reminders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>journal</servlet-name>
        <url-pattern>/journal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agent</servlet-name>
        <url-pattern>/agent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorHandler</servlet-name>
        <url-pattern>/errorHandler</url-pattern>
    </servlet-mapping>    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/home.jsp</welcome-file>
    </welcome-file-list>
    <!-- error-code related error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/errorHandler</location>
    </error-page>
    <!-- exception-type related error pages -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorHandler</location>
    </error-page>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>JSS</web-resource-name>
            <description> accessible by authenticated users of the user role</description>
            <url-pattern>*.*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>These roles are allowed access</description>
            <role-name>user</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description>SSL Required</description>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-role>
        <description>Only 'user' role is allowed to access this web application</description>
        <role-name>user</role-name>
    </security-role>
</web-app>
