/*
    Document   : Common style across all JSPs are defined here
*/
root {
    display: block;
}

body{
    margin:0px;
    padding:0px;
    background-color: rgb(255, 237, 202);
    font-family: "Cambria",serif;
    font-size: 12px;
    /*width: 100%;*/
}

#bodyContainer{
    left: 0px;
    position: relative;
    height: auto;
}

.dateDiv{
    position:fixed;
    visibility:hidden;
    width: auto;
    background-color: #ECE5B6;
    border: 1px solid lightslategray;
    font-family: "Cambria",serif;
    font-size: 12px;
}

.cpMonthNavigation{
    font-family: "Cambria",serif;
    font-size: 12px;
}

.cpYearNavigation{
    font-family: "Cambria",serif;
    font-size: 12px;
}

.MainDiv{
    background-color: #ECE5B6;
    padding: 5px 5px;
    height: auto;
}

.subMainDiv{
    background-color: #ECE5B6;
    padding: 5px;
    height: auto;
}


.MainFieldset{
    background-color: #ECE5B6;
    padding: 5px;
}

.MainFieldset legend{
    font-size: large;
    font-weight: bold;
}


.subMainFieldSet{
    background-color: #FBDA81;
    padding: 5px;
    margin-bottom: 10px;
}

.subMainFieldSet legend{
    font-weight: bold;
    font-size: small;
}


.subMainFieldSet tr td textarea{
    font-weight: normal;
    font-family:inherit;
    font-size: inherit;
}

.IASTextBox{
    width: 120px;
    font-family: "Cambria",serif;
    font-size: 12px;
}

.IASTextBoxMandatory{
    width: 120px;
    font-family: "Cambria",serif;
    font-size: 12px;
    background-color: antiquewhite;
}

.IASTextArea{
    font-family:inherit;
    font-size: inherit;
}

.IASTextAreaMandatory{
    font-family:inherit;
    font-size: inherit;
    background-color: antiquewhite;
}

.IASEmailTextBox{
    height: 14px;
    width: 250px;
    font-family: "Cambria",serif;
    font-size: 12px;
}

.IASCheckBox{
}

.IASDateTextBox{
    width: 70px;
    font-family: "Cambria",serif;
    font-size: 12px;
    background-color: #eee;
}


.IASButton{
    /*height: 20px;*/
    font-size: 10px;
    /*font-weight: bolder;*/
    color: black;
    text-transform: capitalize;
    margin: 0px 10px;
    z-index: 0;
}

.IASComboBox{
    font-family: "Cambria",serif;
    font-size: 12px;
}

.IASComboBoxMandatory{
    font-family: "Cambria",serif;
    font-size: 12px;
    background-color: antiquewhite;
}


.IASFormLeftDiv{
    float: left;
    width: 40%;
    padding: 5px;
}

.IASFormRightDiv{
    width: 40%;
    float: right;
    padding: 5px;
}

.IASFormFieldDiv{
    clear: both;
}


.IASFormFieldDiv .IASFormDivSpanLabel{
    margin-left: 15px;
    float: left;
    text-align: right;
    width: 100px;
}

.IASFormFieldDiv .IASFormDivSpanInputBox{
    margin-left: 15px;
    float: left;
}

.IASFormFieldDiv .IASFormDivSpanForHyphen{
    margin-left: 2px;
    margin-right: 4px;
    float: left;
    text-align: right;
    width: 5px;
}

.datatable{
    border: 1px solid lightslategray;
    width: 100%;
    background-color: #FBDA81;
}

.datatable thead td{
    text-align: center;
    font-size: small;
    font-weight: bold;
    vertical-align: middle;
    padding: 2px;
}

.datatable tbody td{
    text-align: center;
    font-size: small;
    font-weight: normal;
    background-color: #ECE5B6;
    vertical-align: middle;
    padding: 2px;
}

.datatable tbody td a{
    text-decoration: none;
    padding: 5px;
}

A:link {
    text-decoration: none
}
A:visited {
    text-decoration: none;
    color: blue;
}

A:active {
    text-decoration: none
}

.calendarIcon{
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border: 0px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    background-image: url("../images/calendar.gif");
    background-repeat: no-repeat;
}

#okBtnDiv{

    float: left;
    margin-left: 40%;
}

#cancelBtnDiv{

    float: right;
    margin-right: 40%;
}