/*
    Document   : Common style across all JSPs are defined here
*/
root {
    display: block;
}

body{
    margin:0px;
    padding:0px;
    background-color: #F6F6F6;
    /*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
    font-family: arial,helvetica,sans-serif;
    font-size: 13px;
}

A:link {
    text-decoration: none;
    color: blue;
}
A:visited {
    text-decoration: none;
    color: blue;
}

A:active {
    text-decoration: none;
    color: blue;
}

#header{

    width: 100%;
    position: fixed;
    top: 0px;
    height: auto;
    background-color: #F6F6F6;/*rgb(255, 237, 202)*/;
    z-index: 2;
    /*background-image: url("../images/jds.gif");*/
}

#darksubheader{
    background-color: #F6F6F6;/*#cc9b00;*/
    height: 40px;
    margin-bottom: 1px;
    width: 100%;
    z-index: 2;
}

#smalldarksubheader{
    background-color: white/*#cc9b00*/;
    height: 26px;
    margin-left: 0px;
    margin-bottom: 1px;
    width: 12%;
    float: left;
}

#whitesubheader{
    background-color: white;
    height: 1px;
    width: 100%;
    float: right;
}

#verticalwhiteline{
    background-color: red;
    width: 1px;
    z-index: 10;
}

#lightsubheader{
    background-color: #335C85;/*#75A3FF;/*#dfeffc;/*#FBDA81*/;
    margin-left :0%;
    height: 26px;
    width: 100%;
    margin-bottom: 1px;
    z-index: 2;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

#headertext{
    float: right;
    font-family:inherit;
    font-size: x-large;
    font-weight: bolder;
    color: #333333;
    margin-right: 10px;
    padding: 5px;
}

#iaslogo{
    height: 38px;
    width: 39px;
    float: left;
    position: fixed;
    margin-left: 3%;
    top:1px;
    background-image: url("../images/logo_main.png");
    z-index: 3;
    background-repeat: no-repeat;
}

#iasletterheadlogo{
    height: 38px;
    width: 39px;
    float: left;
    top:1px;
    background-image: url("../images/logo_main.png");
    z-index: 3;
    background-repeat: no-repeat;
}

#sidebar{
    background-color: #F6F6F6;/*#cc9b00;*/
    /*top:68px;*/
    top: 68px;
    width: 12%; /*110*/
    float: left;
    position: fixed;
    overflow: auto;
    height: 100%;
    padding-top: 0px;
    z-index: 2;
}

#bodyContainer{
    margin-top: 68px;
    width: 88%;
    overflow: auto;
    float: right;
    height: available;
}

#watermark{
    width: 50%;
    margin: 5% 24%;
}

/*.dateDiv{
    position:fixed;
    visibility:hidden;
    width: auto;
    background-color: #ECE5B6;
    border: 1px solid lightslategray;
    font-family: "Cambria",serif;
    font-size: 12px;
    z-index: 5;
}*/

.dateDiv{
    width: 100%;
}

.cpMonthNavigation{
    font-family: "Cambria",serif;
    font-size: 12px;
}

.cpYearNavigation{
    font-family: "Cambria",serif;
    font-size: 12px;
}

.MainDiv{
    background-color: #F6F6F6;/*#ECE5B6;*/
    padding: 2px 2px;
    height: auto;
}

.subMainDiv{
    /*background-color: #ECE5B6;*/
    padding: 5px;
    height: auto;
}


.MainFieldset{
    background-color: rgb(232,245,248);/*#F6F6F6; #ECE5B6;*/
    /*background-image: url("../images/bg.png");*/
    padding: 5px;
}

.MainFieldset legend{
    font-size: large;
    font-weight: bold;
}


.subMainFieldSet{
    /*background-color: #FBDA81;*/
    background: none repeat scroll 0 0 #F6F6F6; /*rgb(232,245,248);
    background-image: url("../images/bg.png");*/
    padding: 5px 5px 10px 5px;
    margin-bottom: 10px;
}

.subMainFieldSet legend{
    font-weight: bold;
    font-size: small;
}


.subMainFieldSet tr td textarea{
    font-weight: normal;
    font-family:inherit;
    font-size: inherit;
}

.IASActionLabel{
    vertical-align: top;
}

.IASTextBox{
    width: 120px;
}

.IASDisabledTextBox{
    width: 120px;
    background-color: #EEE;
}

.IASDisabledTextBoxWide{
    width: 180px;
    background-color: #EEE;
}

.IASTextBoxWide{
    width: 250px;
}

.IASTextBoxForNumbers{
    width: 30px;
}

.IASTextBoxMandatory{
    width: 120px;
    background-color: antiquewhite;
}

.IASTextBoxMandatoryWide{
    width: 250px;
    background-color: antiquewhite;
}

.IASTextArea{
    font-family:inherit;
    font-size: inherit;
    height: 50px;
}

.IASTextAreaMandatory{
    font-family:inherit;
    font-size: inherit;
    background-color: antiquewhite;
    height: 50px;
}

.IASCheckBox{
}

.IASRadioButton{
    height: 12px;
}


.IASDateTextBox{
    width: 70px;
    background-color: #EEE;
}

.IASButton{
    font-size: 0.9em;
    color: black;
    text-transform: capitalize;
    margin: 0px 10px;
    z-index: 0;
}

.JDSFileInput{
    font-family: Cambria;
    font-size: 12px;
}

.IASComboBox{
    width: 120px;
}

.IASComboBoxWide{
    width: 180px;
}

.IASComboBoxWideMandatory{
    font-size: inherit;
    width: 220px;
    background-color: antiquewhite;
}

.IASComboBoxMediumMandatory{
    font-size: inherit;
    width: 160px;
    background-color: antiquewhite;
}

.IASComboBoxSmallMandatory{
    font-size: inherit;
    width: 100px;
    background-color: antiquewhite;
}

.IASComboBoxMandatory{
    /*font-family: "Cambria",serif;*/
    font-size: inherit;
    background-color: antiquewhite;
}

.IASFormLeftDiv{
    float: left;
    width: 48%;
    padding: 5px;
}

.IASFormRightDiv{
    width: 48%;
    float: right;
    padding: 5px;
}

.IASFormFieldDiv{
    clear: both;
    margin: 4px;
    float: left;
    width: 98%;
    /*padding: 10px;*/
}

.IASFormCenterDiv{
    clear: both;
    margin: 4px;
    float: left;
    width: 98%;
    text-align: center;
}


.IASFormDivSpanLabel{
    margin-left: 0px;
    float: left;
    text-align: right;
    width: 150px;
}

.IASFormDivSpanLabelRadio{
    margin-left: 15px;
    float: left;
    text-align: right;
    width: 50px;
}

.IASFormDivSpanInputBox{
    margin-left: 15px;
    float: left;
}

.IASFormDivSpanInputBoxLessMargin{
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}

.IASFormDivSpanForHyphen{
    margin-left: 10px;
    text-align: center;
    float: left;

}


.datatable{
    border: 1px solid lightslategray;
    width: 100%;
    /*background-color: #FBDA81;*/
}

.datatable thead td{
    text-align: center;
    font-size: small;
    font-weight: bold;
    vertical-align: middle;
    padding: 2px;
}

.datatable tbody td{
    text-align: center;
    font-size: 1.1em;
    font-weight: normal;
    /*background-color: #ECE5B6;*/
    vertical-align: middle;
    padding: 2px;
}

.datatable tbody td a{
    text-decoration: none;
    padding: 5px;
}

.jdsLink{
    color: blue;
    text-decoration: none;
}

.calendarIcon{
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border: 0px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    background-image: url("../images/calendar.gif");
    background-repeat: no-repeat;
}

.deleteIcon{
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border: 0px;
    padding-bottom: 0px;
    background-image: url("../images/delete.gif");
    background-repeat: no-repeat;
}

#welcomeUser{
    float: right;
    margin-right: 20px;
    text-align: justify;
    padding: 5px;

}

.singleActionBtnDiv{
    text-align: center;
}

.actionBtnDiv{
    text-align: center;
    width: 90%;
    margin-right: 10%;
    float: left;
}

#IASLetterHeadHeader{

    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-top: auto;
    font-family: cambria,sans-serif,serif;
    font-size: large;
    font-weight: bold;
    padding-bottom: 20px;
}

.pageBreak{
    page-break-before: always;
}

.underlineText{
    text-decoration: underline;
}

#error{
    background-image: url("../images/error.png");
    background-repeat: no-repeat;
    width: 120px;
    height: 144px;
    margin: 0 auto;
    text-align: center;
}

#accessdenied{
    background-image: url("../images/403.png");
    background-repeat: no-repeat;
    width: 284px;
    height: 232px;
    margin: 0 auto;
    text-align: center;
}

#accessdeniedtext{
    text-align: center;
    font-size: larger;
}

#pageNotFoundError{
    background-image: url("../images/404.png");
    background-repeat: no-repeat;
    width: 314px;
    height: 203px;
    margin: 0 auto;
}

#letterhead{

    font-style: normal;
    font-weight: bolder;
    margin: 10px auto;
    width: 80%;
    text-align: center;
    font-size: 20px;
    /*font-family: cambria,sans-serif,serif;*/
}

#subletterhead_1{

    font-style: normal;
    font-weight: normal;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    /*font-family: cambria,sans-serif,serif;*/
}

#letterTel{
    font-style: normal;
    font-weight: normal;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
}

#letterDiv{

    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    margin: 20px 20px;
    height: auto;
    float: left;
    display: block;
}

#letterDate{
    float: right;
    width: 95%;
    height: 20px;
    margin-top: 10px;
    margin-right: 40px;
    text-align: right;
}

.salutation{
    margin-left: 10px;
    /*font-family: cambria,sans-serif,serif;*/
    width: 100%;
    float: left;
    margin-top: 30px;
}

.subjectLine{
    margin-left: 10px;
    width: 100%;
    float: left;
    margin-top: 20px;
}

.letterBody{
    margin-left: 5%;
    width: 95%;
    margin-top: 20px;
    float: right;
    line-height: 2em;
}

#ajaxBusy{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    z-index: 100;
    display: none;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}