/*
    Document   : Common style across all JSPs are defined here
*/
root {
    display: block;
}

body{
    margin:0px;
    padding:0px;
    background-color: rgb(255, 237, 202);
    font-family: "Cambria",serif;
    font-size: 12px;
    /*width: 100%;*/
}

#header{

    width: 100%;
    position: fixed;
    top: 0px;
    height: auto;
    background-color: rgb(255, 237, 202);
    /*background-image: url("../images/jds.gif");*/
}

#darksubheader{
    background-color: #cc9b00;
    height: 40px;
    margin-bottom: 1px;
    width: 100%;
}

#smalldarksubheader{
    background-color: #cc9b00;
    height: 26px;
    margin-left: 0px;
    margin-bottom: 1px;
    width: 12%;
    float: left;
}

#whitesubheader{
    background-color: white;
    height: 1px;
    width: 100%;
}

#lightsubheader{
    background-color: #FBDA81;
    height: 26px;
    width: 100%;
    margin-bottom: 1px;
}

#headertext{
    float: right;
    font-family:inherit;
    font-size: x-large;
    font-weight: bolder;
    color: #333333;
    margin-right: 10px;
    padding: 5px;
}


#sidebar{
    background-color: #cc9b00;
    top:68px;
    width: 12%; /*110*/
    float: left;
    position: fixed;
    height: 100%;
    padding-top: 60px;
    z-index: 2;
}

/*
#bodyContainer{
    left: 0px;
    top: 8px;
    padding-left: 12%;
    position: relative;
    width: 88%;
    height: auto;
}*/
#bodyContainer{
    left: 0px;
    top: 68px;
    padding-left: 12%;
    position: fixed;
    width: 88%;
    height: auto;
}

#watermark{
    width: 50%;
    margin: 5% 24%;
}

/*.dateDiv{
    position:fixed;
    visibility:hidden;
    width: auto;
    background-color: #ECE5B6;
    border: 1px solid lightslategray;
    font-family: "Cambria",serif;
    font-size: 12px;
    z-index: 5;
}*/

.dateDiv{
    width: 100%;
}

.cpMonthNavigation{
    font-family: "Cambria",serif;
    font-size: 12px;
}

.cpYearNavigation{
    font-family: "Cambria",serif;
    font-size: 12px;
}

.MainDiv{
    background-color: #ECE5B6;
    padding: 5px 5px;
    height: auto;
}

.subMainDiv{
    background-color: #ECE5B6;
    padding: 5px;
    height: auto;
}


.MainFieldset{
    background-color: #ECE5B6;
    padding: 5px;
}

.MainFieldset legend{
    font-size: large;
    font-weight: bold;
}


.subMainFieldSet{
    background-color: #FBDA81;
    padding: 5px 5px 10px 5px;
    margin-bottom: 10px;
}

.subMainFieldSet legend{
    font-weight: bold;
    font-size: small;
}


.subMainFieldSet tr td textarea{
    font-weight: normal;
    font-family:inherit;
    font-size: inherit;
}

.IASActionLabel{
    vertical-align: top;
}

.IASTextBox{
    width: 120px;
    font-family: "Cambria",serif;
    font-size: 12px;
}

.IASTextBoxForNumbers{
    width: 30px;
    font-family: "Cambria",serif;
    font-size: 12px;
}

.IASTextBoxMandatory{
    width: 120px;
    font-family: "Cambria",serif;
    font-size: 12px;
    background-color: antiquewhite;
}

.IASTextArea{
    font-family:inherit;
    font-size: inherit;
    height: 50px;
}

.IASTextAreaMandatory{
    font-family:inherit;
    font-size: inherit;
    background-color: antiquewhite;
}

.IASEmailTextBox{
    height: 14px;
    width: 180px;
    font-family: "Cambria",serif;
    font-size: 12px;
}

.IASCheckBox{
}

.IASRadioButton{
    height: 12px;
}


.IASDateTextBox{

    width: 70px;
    font-family: "Cambria",serif;
    font-size: 12px;
    background-color: #eee;
}


.IASButton{
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    margin: 0px 20px;
}

.IASComboBox{
    font-family: "Cambria",serif;
    font-size: 12px;
}

.IASComboBoxMandatory{
    font-family: "Cambria",serif;
    font-size: 12px;
    background-color: antiquewhite;
}

.IASFormLeftDiv{
    float: left;
    width: 40%;
    padding: 5px;
}

.IASFormRightDiv{
    width: 40%;
    float: right;
    padding: 5px;
}

.IASFormFieldDiv{
    clear: both;
    margin: 4px;
    float: left;
    width: 98%;
    /*padding: 10px;*/
}


.IASFormFieldDiv .IASFormDivSpanLabel{
    margin-left: 15px;
    float: left;
    text-align: right;
    width: 100px;
}

.IASFormFieldDiv .IASFormDivSpanInputBox{
    margin-left: 15px;
    float: left;
}

.IASFormDivSpanForHyphen{
    margin-left: 10px;
    float: inherit;
    text-align: center;

}


.datatable{
    border: 1px solid lightslategray;
    width: 100%;
    background-color: #FBDA81;
}

.datatable thead td{
    text-align: center;
    font-size: small;
    font-weight: bold;
    vertical-align: middle;
    padding: 2px;
}

.datatable tbody td{
    text-align: center;
    font-size: small;
    font-weight: normal;
    background-color: #ECE5B6;
    vertical-align: middle;
    padding: 2px;
}

.datatable tbody td a{
    text-decoration: none;
    padding: 5px;
}

A:link {
    text-decoration: none
}
A:visited {
    text-decoration: none;
    color: blue;
}

A:active {
    text-decoration: none
}

.calendarIcon{
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border: 0px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    background-image: url("../images/calendar.gif");
    background-repeat: no-repeat;
}

.deleteIcon{
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border: 0px;
    padding-bottom: 0px;
    background-image: url("../images/delete.gif");
    background-repeat: no-repeat;
}

#welcomeUser{
    float: right;
    margin-right: 20px;
    text-align: justify;
    padding: 5px;

}

.singleActionBtnDiv{
    text-align: center;
}

.actionBtnDiv{
    text-align: center;
    width: 100%;
}