/*
    Document   : Style for Subscriber and Subscription JSPs are defined here
*/
root { 
    display: block;
}

#backToInwardBtnDiv{
    float: left;
    width: 30%;
    margin-left: 15%;
}

#saveBtnDiv{
    float: left;
    width: 20%;   
}

#processNextInwardBtnDiv{
    float: left;
    width: 20%;
    margin-right: 5%;
}