/*
    Document   : Style for Subtype related JSPs are defined here
*/
root {
    display:block;
}

#remindBtnDiv{
    float: left;
    width: 10%;
}

#searchBtnDiv{
    margin-left: 45%;
    float: left;
    width: 10%;
}

#reminderEnableBtnDiv{
    float: left;
    width: 15%;
}

#searchEnableBtnDiv{
    margin-left: 40%;
    float: left;
    width: 15%;
}

#printSendBtnDiv{
    margin-left: 45%;
    float: left;
    width: 10%;
}

#cancelBtnDiv{
    float: left;
    width: 10%;
}
