/*
    Document   : Style for Subtype related JSPs are defined here
*/
root {
    display:block;
}


#addBtnDiv{
    margin-left: 45%;
    float: left;
    width: 15%;
}


#printBtnDiv{
    margin-left: 40%;
    float: left;
    width: 15%;
}

#cancelBtnDiv{
    float: left;
    width: 10%;
}
