/*
    Document   : printml
    Created on : Nov 12, 2011, 8:02:26 PM
    Author     : Shailendra Mahapatra
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


/*Reset Style*/
body {
    margin:2cm;
    padding-left: 5cm;
    border: none;
    font: 12px Arial, Helvetica,"Lucida Grande", serif; color: #000;
}

#sidebar, #header{
    display: none;
}

.MainFieldset{
    border: none;
}

.sticker{
    background-color: white;
    width: 5cm;
    border-width: thin;
    border-style: inset;
    height: 2cm;
    float: right;
    margin: 0 0.5cm 0;

}

.stickerAddressDiv{
    float: right;
    text-align: left;
    margin: 0.5cm 0.2cm;
}

.IASFormLeftDiv{
    width: 5cm;
}

.IASFormRightDiv{
    width: 5cm;
}