body {
    border: none;
    font: 12px Arial, Helvetica,"Lucida Grande", serif; color: #000;
}

#bodyContainer{
    margin: 0;
    padding: 0;
}

#sidebar, #header, #chqDDReturnFields, #chqDDReturnFields{
    border: none;
    display: none;
 }

 .actionBtnDiv{
     display: none;
 }

 .MainFieldset, .subMainFieldSet{
     border: none;
 }
