root {
    display: block;
}

.subjectLine{

    margin-left: 10px;
    font-family: cambria,sans-serif,serif;
    font-size: 12px;
    width: 100%;
    float: left;
    margin-top: 20px;
}

#subscriptionDetail{
    width: 50%; float: left; margin: 20px 25%;
}