/*
    Document   : journalDetails
    Created on : Jan 1, 2013, 5:21:39 PM
    Author     : aloko
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

#searchBtnDiv{
    margin-left: 40%;
    float: left;
    width: 10%;
}

#editBtnDiv{
    margin-left: 40%;
    float: left;
    width   : 8%;
}

#saveBtnDiv{
    float: left;
    width   : 8%;
}

#cancelBtnDiv{

    float: left;
    width: 8%;
}

#nextBtnDiv{

    float: left;
    width: 8%;
}
