/*
    Document   : Style for Journal related JSPs are defined here
*/
root {
    display:block;
}

#addBtnDiv{
    float: left;
    width: 10%;
    margin-left: 40%;
}

#saveBtnDiv{
    float: left;
    width: 10%;
    margin-left: 40%;
}

#cancelBtnDiv{
    float: left;
    width: 10%;

}
