/*
    Document   : Style for Subtype related JSPs are defined here
*/
root {
    display:block;
}


#addBtnDiv{

    float: left;
    width: 10%;
}

#searchBtnDiv{
    margin-left: 40%;
    float: left;
    width: 10%; 
}

#editBtnDiv{
    margin-left: 40%;
    float: left;
    width   : 8%;
}

#saveBtnDiv{
    float: left;
    width   : 8%;
}

#cancelBtnDiv{
    
    float: left;
    width: 8%;
}
